body{
    background-color: #313131;
}

a{
    color: transparent;
}

.text-title{
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

.text-subtitle{
    color: rgb(151, 151, 151);
    font-family: Arial, Helvetica, sans-serif;
}

.botao-imagem {
    margin-top: 10px;
    background-color: #000000;
    color: rgb(255, 255, 255);
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    gap: 10px;
    transition: 0.1s ease-in-out;
}

.botao-imagem img {
    width: 20px;
    height: 20px;
}

.botao-imagem:hover {
    background-color: #2c2c2c;
    transition: 0.1s ease-in-out;
    transform: scale(1.1);
}
